## Integer & Float numbers in Python with operations

In [1]:
num1 = 10
num2 = 3.5

print(num1)
print(num2)

10
3.5

In [2]:
# Arithmetic Operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division1 = num1 / num2  # Float division
division2 = num1 // num2  # Integer division

print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Float Division:", division1)
print("Integer Division:", division2)

Addition: 13.5
Subtraction: 6.5
Multiplication: 35.0
Float Division: 2.857142857142857
Integer Division: 2.0

In [3]:
# Some python methods for numeric data

print(type(num1))  # Output: <class 'int'>
print(type(num2))  # Output: <class 'float'>

print(isinstance(num1, int))  # Output: True
print(isinstance(num2, float))  # Output: True

print(float(num1))  # Convert int to float
print(int(num2))    # Convert float to int

<class 'int'>
<class 'float'>
True
True
10.0
3

In [4]:
# Exponentiation
exp = num1 ** 2
print("Exponentiation:", exp)

Exponentiation: 100

In [ ]:
# Modulus
modulus = num1 % 3  # 10 % 3 = 1
print("Modulus:", modulus)

Modulus: 1

In [6]:
# Absolute Value
a = -20
absolute_value = abs(-a)
print("Absolute Value:", absolute_value)

Absolute Value: 20

In [13]:
# round
b = 3.8906
rounded_value = round(b, 2)  # Rounds to 2 decimal places
print("Rounded Value:", rounded_value)

Rounded Value: 3.89