## A set is a collection which is unordered, unchangeable*, and unindexed.

Set don't allow duplicate values.

In [2]:
thisset = {"apple", "apple", "banana", "cherry"}
print(thisset) #Sets are unordered, so you cannot be sure in which order the items will appear.

{'banana', 'apple', 'cherry'}

## Indexing are not supported in sets.

In [4]:
print(thisset[1]) # Give you an error

TypeError: 'set' object is not subscriptable

In [9]:
# Add set items
thisset.add("orange")
print(thisset)

{'banana', 'orange', 'apple', 'cherry', 'mango', 'grapes'}

In [11]:
# Add any iterable (sets, tuples, lists, dictionaries etc.)
thisset.update({"mango", "grapes", "orange"})
print(thisset)
print(type(thisset))

thisset.update([1, 2, 3])
print(thisset)

{'banana', 'orange', 'apple', 'cherry', 'mango', 'grapes'}
<class 'set'>
{'banana', 'orange', 1, 2, 3, 'apple', 'cherry', 'mango', 'grapes'}

## Python - Remove Set Items

In [12]:
# Remove "banana" by using the remove() method:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

# Remove "banana" by using the discard() method:
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'apple', 'cherry'}
{'apple', 'cherry'}

In [13]:
# The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

## Join sets

In [17]:
# The union() and update() methods joins all items from both sets.
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

# or
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2 # another way to do union
print(set3)


set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4) # join multiple sets
print(myset)

# or
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1 | set2 | set3 |set4
print(myset)

{'b', 1, 2, 'c', 3, 'a'}
{'b', 1, 2, 'c', 3, 'a'}
{1, 2, 3, 'c', 'John', 'bananas', 'b', 'apple', 'cherry', 'a', 'Elena'}
{1, 2, 3, 'c', 'John', 'bananas', 'b', 'apple', 'cherry', 'a', 'Elena'}

In [18]:
# Intersection
# Keep ONLY the duplicates

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.intersection(set2)
print(set3)

# or
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}
{'apple'}

In [19]:
# Difference
# The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2)

print(set3)

# or 
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'banana', 'cherry'}
{'banana', 'cherry'}

In [21]:
# The symmetric_difference() method will keep only the elements that are NOT present in both sets.
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2)

print(set3)

# or
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'banana', 'google', 'cherry', 'microsoft'}
{'banana', 'google', 'cherry', 'microsoft'}